<p id="notice"><%= notice %></p>

<br>
<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
<br>
<br>

<table>
  <tr>
  <td><strong>Name</strong></td>
  <td><%= @category.name %></td>
  </tr>

  <td><strong>Title</strong></td>
  <td><%= @category.title %></td>
  </tr>

  <td><strong>Description</strong></td>
  <td><%= @category.desc %></td>
  </tr>
</table>

<br>
<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
