<%= form_with(model: tag, local: true) do |form| %>
  <% if tag.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tag.errors.count, "error") %> prohibited this tag from being saved:</h2>

      <ul>
        <% tag.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<h2>Editing: <%= tag.tag %></h2>
<hr>

<table><tr>
<td valign=top> <%= form.label :tag %> </td>
<td valign=top>
  <div class="field">
    <%= form.text_field :tag %>
  </div>
</td>
</tr>
</table>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
