<h1>Editing Tag</h1>

<br>
<%= link_to 'Show', @tag %> |
<%= link_to 'Back', tags_path %>
<br>
<br>

<%= render 'form', tag: @tag %>

<br>
<%= link_to 'Show', @tag %> |
<%= link_to 'Back', tags_path %>
