<h2><%= @tag.tag %></h2>

<p id="notice"><%= notice %></p>

<br>
<%= link_to 'Edit', edit_tag_path(@tag) %> |
<%= link_to 'Back', tags_path %>
<br>
<br>

<table>
<tr>
  <td><strong>Tag</strong></td>
  <td><%= @tag.tag %></td>
</tr>
</table>

<br>
<%= link_to 'Edit', edit_tag_path(@tag) %> |
<%= link_to 'Back', tags_path %>
