<%= form_with(model: link, local: true) do |form| %>
  <% if link.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(link.errors.count, "error") %> prohibited this link from being saved:</h2>

      <ul>
        <% link.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<h2>Editing: <%= link.title %></h2>
<hr>

<table><tr>
<td>
  <div class="field">
    <%= form.label :link %>
    <%= form.text_field :link, size: 35 %>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, size: 45 %>
  </div>

  <div class="field">
    <%= form.label :desc %>
    <%= form.text_area :desc, rows: 5, cols: 40 %>
  </div>

</td>
<td width=5%></td>
<td valign=top>
  <b><i>These are not ordinarily set manually.</i></b>
  <br> <br>

  <div class="field">
    <%= form.check_box :timeout, style: "display:inline" %>
    <%= form.label :timeout, style: "display:inline"  %>
  </div>

  <div class="field">
    <%= form.check_box :badcert, style: "display:inline" %>
    <%= form.label :badcert, style: "display:inline"  %>
  </div>
</td>
</tr></table>


<hr>
  <div class="actions">
    <%= form.submit %>
  </div>

<br>
<br>
<b>NOTE:</b> The website preview may not be displayed correctly. <br>
This depends on how that site is coded.<br>
You can go to <%= link_to(link.link, link.link, target: "external") %> to open in another window or tab.
<br>
<br>

<iframe src='<%= link.link %>' width=90% height=500></iframe>
<% end %>
