<h1>Editing Link</h1>

<br>
<%= link_to 'Show', @link %> |
<%= link_to 'Back', links_path %>
<br>
<br>

<%= render 'form', link: @link %>

<br>
<%= link_to 'Show', @link %> |
<%= link_to 'Back', links_path %>
