<h2><%= @link.title %></h2>

<p id="notice"><%= notice %></p>

<hr>

<br>
<%= link_to 'Edit', edit_link_path(@link) %> |
<%= link_to 'Back', links_path %>
<br>
<br>

<p>
  <strong>Link:</strong>
  <%= @link.link %>
</p>

<p>
  <strong>Title:</strong>
  <%= @link.title %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @link.desc %>
</p>

<p>
  <strong>Timeout:</strong>
  <%= @link.timeout %>
</p>

<p>
  <strong>Badcert:</strong>
  <%= @link.badcert %>
</p>

<p>
  <strong>Categories</strong>
  <%= @link.categories.map {|x| x.title }.join(",\n") %>
</p>

<p>
  <strong>Tags</strong>
  <%= @link.tags.map {|x| x.tag }.join(", ") %>
</p>

<br>

<%= link_to 'Edit', edit_link_path(@link) %> |
<%= link_to 'Back', links_path %>
